target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Bases de datos y SQLite
*.db
*.sqlite
*.sqlite3

# --- PYTHON ---
__pycache__/
*.pyc
.venv/
venv/
.cache/
*.egg-info/

# Configuración sensible y credenciales
config.json
identity_pi.ini
.env

# Archivos multimedia y temporales
*.wav
cache/

# Archivos de compilación (Java/Maven)
target/
*.class

# Logs y archivos temporales del sistema
*.log
.DS_Store
