target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Bases de datos y SQLite
*.db
*.sqlite

# Configuración sensible y credenciales
config.json
identity_pi.ini

# Archivos multimedia y temporales
*.wav
cache/
temp_music.wav

# Archivos de compilación (Java/Maven)
target/
*.class

# Logs y archivos temporales del sistema
*.log
.DS_Store
